/* styles.css */

/* Establece una altura del 100% para html y body */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Establece el fondo de la página */
.inicio {
  background-image: url('../assets/espe.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  width: 100%;
  height: 100vh;
}

/* Estilo para el recuadro blanco */
.inicio .recuadro-blanco {
  position: absolute;
  top: 50%; /* Centra verticalmente el recuadro en la mitad de la pantalla */
  left: 50%; /* Centra horizontalmente el recuadro en la mitad de la pantalla */
  transform: translate(-50%, -50%); /* Centra exactamente el recuadro en la pantalla */
  width: 80%; /* Ajusta el ancho del recuadro */
  max-width: 400px; /* Establece un ancho máximo */
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px; /* Añade espacio interno para separar el contenido del borde */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}

/* Estilo para el título "TRABAJA CON NOSOTROS" */
.inicio .recuadro-blanco h1 {
  font-size: 30px;
  padding-bottom: 3px;
  color: #1d7524;
  margin: 5px 0;
}

/* Estilo para el subtítulo "CONCURSO DE MÉRITOS Y OPOSICIÓN 2023" */
.inicio .recuadro-blanco h2 {
  font-size: 18px;
  color: #333;
  margin: 5px 0;
  padding-top: 3px;
}

/* Estilo para el botón "Iniciar" */
.inicio button {
  cursor: pointer;
  font-size: 18px;
  color: #fdfdfd;
  background-color: #070707; /* Color verde */
  border: none;
  border-radius: 4px;
  padding: 10px 16px;
  margin-top: 20px;
}

/* Estilo para el efecto de hover del botón */
.inicio button:hover {
  transition: 99ms;
  background-color: #28a745; /* Color verde más oscuro en hover */
}


/* styles.css */

/* Estilos para el contenedor centrado */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../assets/form2.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  width: 100%;
  height: 100vh;
}

/* Estilos para el formulario */
.login-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 400px;
  width: 100%;
  border: 1px solid #bdbdbd;
}

/* Estilos para los elementos del formulario */
.login-form h1 {
  margin-bottom: 10px;
}

.login-form label {
  display: block;
  text-align: left;
}

.login-form input {
  display: block;
  width: 94%;
  margin: 10px 0;
  padding: 8px 12px;
  border: 1px solid #a09d9d;
  border-radius: 4px;
  background-color: #f5eeee;
}

.login-form button {
  cursor: pointer;
  font-size: 18px;
  color: #fdfdfd;
  background-color: #000000; /* Color verde */
  border: none;
  border-radius: 4px;
  padding: 10px 16px;
  margin-top: 20px;
}

/* Estilo para el efecto de hover del botón */
.login-form button:hover {
  transition: 99ms;
  background-color: #28a745; /* Color verde más oscuro en hover */
}

.login-form p {
  cursor: pointer;
  color: #007BFF;
  text-decoration: underline;
}

.captcha-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* styles.css */

/* Estilos para el contenedor centrado */
.form-container { /* Cambio del nombre de la clase */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../assets/form2.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  width: 100%;
  height: 100vh;
}

/* Estilos para el formulario */
.form-box { /* Cambio del nombre de la clase */
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 800px;
  width: 100%;
  border: 1px solid #bdbdbd;
}

/* Estilos para los elementos del formulario */
.form-box h1 { /* Cambio del nombre de la clase */
  margin-bottom: 10px;
}

.form-box label { /* Cambio del nombre de la clase */
  display: block;
  text-align: left;
}

.form-box input,
.form-box select { /* Cambio del nombre de la clase */
  display: block;
  width: 94%;
  margin: 10px 0;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-box select { /* Cambio del nombre de la clase */
  background-color: #fff;
}

.form-box .radio-group { /* Cambio del nombre de la clase */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 5px 0;
}

/* Estilo para los campos de nombres y tipo de identificación */
.form-box .form-row {
  display: flex;
  justify-content: space-between;
}

.form-box .form-column {
  flex: 1;
}

.form-box .form-column input {
  margin-right: 10px; /* Añadimos margen derecho para separar los campos */
}

.form-box .form-column .cedula {
  margin-left: 20px; /* Añadimos margen derecho para separar los campos */
}


.form-box button { /* Cambio del nombre de la clase */
  cursor: pointer;
  font-size: 18px;
  color: #fdfdfd;
  background-color: #000000; /* Color verde */
  border: none;
  border-radius: 4px;
  padding: 10px 16px;
  margin-top: 20px;
}

.form-box button:hover {
  transition: 99ms;
  background-color: #28a745; /* Color verde más oscuro en hover */
}

.form-box p { /* Cambio del nombre de la clase */
  margin-top: 10px;
  font-size: 12px;
}

/* Media query para pantallas de 15.6 pulgadas de laptop */
@media (max-width: 1366px) {
  .form-box {
    padding: 15px; /* Ajustamos el padding */
    max-width: 350px; /* Reducimos el ancho máximo */
  }

  .form-box button {
    font-size: 16px; /* Reducimos el tamaño de fuente */
  }
}

.plataforma-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('../assets/form3.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.seccion-informacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.seccion-informacion h1 {
  margin-bottom: 50px;
  font-size: 30px;
  color: #1d7524;
}

button {
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  transition: 99ms;
  background-color: #28a745; 
}

.estados {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.estados p {
  margin: 0 10px;
  color: #888;
}

/* Media Query para hacer el diseño responsivo */
@media (max-width: 768px) {
  h1 {
    font-size: 20px;
  }
  button {
    padding: 8px 16px;
  }
}

.postulante-container {
  display: flex;
  flex-direction: column; /* Apilar elementos verticalmente */
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  width: 100%;
  background-image: url('../assets/form3.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.document-table {
  width: 60vh;
  border-collapse: collapse;
  text-align: center;
}

.document-table th,
.document-table td {
  padding: 10px;
  border: 1px solid #c5b5b5;
  background-color: rgb(245, 239, 239);
}

.document-table th {
  background-color: #f1f1f1;
}

.document-table td input[type='file'] {
  margin-top: 5px;
}

.btn-aceptar {
  margin-top: 15px;
  background-color: #000000;
  position: relative;
}

.btn-aceptar:hover {
  background-color: #28a745;
}

/*NUEVOS ESTILOS*/
.process-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  width: 100%;
  background-image: url('../assets/form3.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.formulario {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formulario select {
  display: block;
  width: 30%;
  padding: 5px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.proceso-container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Los elementos se distribuirán horizontalmente */
  width: 70%; /* Ajusta el ancho del contenedor según tus necesidades */
  margin: 10px 0; /* Agregamos un margen para separar los elementos */
}

.proceso-text {
  font-size: 16px;
  font-weight: bold;
}

.proceso-select {
  /* Agrega aquí los estilos deseados para el combo box */
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: auto; /* Alinea a la derecha */
}

.tabla {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 70%;
  border-collapse: collapse;
}

.tabla th, .tabla td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}



